body{
    background-color: #024909;
   
    color: white;
    font-family: "Bai Jamjuree"; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button{
    background-color: #0a7907;
    color: white;
    font-family: "Bai Jamjuree"; 

}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 90%;
}